@import "../../../styles/_mixins.scss";

.wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    background: #F5F5F7;

    @include xs{
        position: relative;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;
    }

    @include sm{
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }

    @include xl{
        flex-direction: row;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    @include xxl{
        justify-content: center;
    }
}

.handIcon{
    width: 624px;
    height: 367px;

    @include xs{
        width: 288px;
        height: 192px;
        margin-top: 80px;
    }

    @include sm{
        width: 480px;
        margin-top: 30%;
    }

    @include lg{
        height: 367;
    }

    @include xl{
        width: 524px;
        margin-top: 0;
    }

    @include xxl{
        height: 467px;
        margin-top: 0;
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .title{
        font-size: 32px;
        color: #1C1C21;
        opacity: 0.5;

        @include xs{
            margin-top: 32px;
            width: 288px;
            font-size: 18px;
            text-align: center;
        }

        @include sm{
            width: 320px;
            text-align: center;
        }

        @include xl{
            width: 100%;
            font-size: 36px;
            text-align: start;
        }
        
    }

    .score{
        width: 624px;
        height: 65px;
        font-weight: 600;
        font-size: 56px;
        margin-bottom: 64px;

        @include xs{
            width: 288px;
            height: 37px;
            font-size: 32px;
            text-align: center;
        }

        @include sm{
            font-size: 38px;
            width: 320px;
            text-align: center;
        }

        @include xl{
            width: 100%;
            font-size: 46px;
            text-align: start;
        }

        @include xxl{
            font-size: 56px;
        }
    }
}