@import "../../../styles/_mixins.scss";

.question{
    width: 624px;
    height: 74px;
    font-weight: 600;
    font-size: 32px;
    color: #1C1C21;
    hyphens: auto;

    @include xs{
        width: 100%;
        height: 63px;
        font-size: 18px;
        text-align: center;
    }

    @include sm{
        font-size: 24px;
    }

    @include md{
        font-size: 32px;
        height: 74px;
        width: 400px;
    }

    @include xl{
        width: 624px;
    }
}

.options{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    width: 70%;
    list-style: none;
    bottom: 122px;

    @include xs{
        flex-direction: column;
        width: 100%;
        bottom: 24px;
        row-gap: 8px;
    }

    @include sm{
        row-gap: 16px;
    }

    @include xxl{
        width: 70%;
        row-gap: 32px;
        bottom: 122px;
    }
}

.menuIcon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;

    @include sm{
        display: 'none';
    }
}

.menu{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F5F5F7;
    z-index: 3;
}